html {
    font-size: 100%;
    color-scheme: light dark;
    overflow-x: clip;
  }
  
  *,*::before,
  *::after {
    box-sizing: border-box;
  }
  
  /* Remove default margin */
  body,
  h1,
  h2,
  h3,
  h4,
  p,
  figure,
  blockquote,
  dl,
  dd {
    margin: 0;
  }
  
  /* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
  ul[role='list'],
  ol[role='list'] {
    list-style: none;
  }
  
  /* Set core root defaults */
  html:focus-within {
    scroll-behavior: smooth;
  }
  
  /* Set core body defaults */
  body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    cursor: pointer;
    scroll-behavior: smooth;
  }
  
  /* A elements that don't have a class get default styles */
  a:not([class]) {
    text-decoration-skip-ink: auto;
  }
  
  /* Make images easier to work with */
  img,
  picture {
    max-width: 100%;
    display: block;
  }
  
  img {
    display: inline-block;
    max-width: 100%;
    vertical-align: middle;
  }
  
  /* Inherit fonts for inputs and buttons */
  input,
  button,
  textarea,
  select {
    font: inherit;
  }
  
  /* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
  @media (prefers-reduced-motion: reduce) {
    html:focus-within {
      scroll-behavior: auto;
    }
  
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }

    @font-face{
        font-family:thunder;
        src:url("thunder.otf");
    }
    @font-face{
        font-family:j2;
        src:url("tarif.otf");
    }

:root{
    --h1-font:clamp(1.75rem,2vw + 1rem,3rem);
    --bg-1:white;
    --bg-2:#F9F6EE   ;
    --bg-3:#EDEADE;
    --bg-4:#151515;
    --bg-5:white;
    --bg-p:#787786;
    --bg-slider:black;
    --nav-p:#0e2954;
    --nav-a:white;
    --m-g:5rem;
    --btn-2:black;
    --btn-1:#b4b4b4;
    --nav-bg1:#dbdbdb;
    --nav-bg2:#e4e8ed;
    --r-fncy:white;
    --l-fncy:black;
    --ms-text: clamp(2rem, 1.5vw + .65rem, 2.25rem);
    --h2-text: clamp(2rem, 1.5vw + 0.75rem, 2.5rem);
    --l-text: clamp(1.5rem, 0.75vw + 0.875rem, 1.75rem);
    --p-text:clamp(1.15rem, 0.7vw + 0.5rem, 1.35rem);
    --p1-text:clamp(1.35rem, 1vw + 0.25rem, 1.45rem);
    --h1-text: clamp(2.8rem, 4vw + 1rem, 4rem);
    --m-text: clamp(1.35rem, 0.75vw + 0.75rem, 1.5rem);
  --ml-text: clamp(1.35rem, 2vw + 1rem, 1.75rem);
--brg-heading: clamp(1.65rem, 1vw + 1rem, 2.5rem);
--xl-text: 13vw;
  
}

body{
    text-rendering: optimizeSpeed;
    line-height:1.6;
    overflow-x: clip;
    min-height:100vh;
    width:100%;
    font-family:j2;
    color:black;
    scrollbar-width:thin;
    scrollbar-color:#760026;
    background:var(--bg-1);
  padding-top:5rem;
}

a{
    text-decoration:none;
    color:black;
}

li{
    list-style:none;
}


.header{
    display:flex;
    justify-content:space-between;
    position:fixed;
    top:0;
    padding:1.5rem;
    z-index:999;
    width:100%;
    height:20vh;
    background:var(--bg-1);
}
.root{
    height:500vh;
    width:90%;
    background: var(--bg-2) ;
    position: relative;
    z-index:10;
    margin-inline:auto;
    overflow:clip;
    margin-top:100vh;
    padding:2rem 0;
}

.topC{
    gap:1rem;
}
.trigger{
    width:100%;
    display:flex;
    min-height:70vh;
    padding-bottom:3rem;
    padding-inline:1rem;
}
.trigger>*{
    flex:1;
      }
.img{
    height:40vh;
    position:relative;
}
.img1{
    background:url(arch27.jpg);
    background-size:cover;
    background-position:center center;
}
.gsapImg{
    gap:1rem;
}
.over{
    position: absolute;
    height:100%;
    width:100%;
    background: var(--bg-2) ;
}
.img2{
    background:url(arch31.jpg);
    background-size:cover;
    margin-top:4rem;
    background-position:center center;
}
.img3{
    background:url(arch17.jpg);
    background-size:cover;
    height:25vh;
    background-position:center center;
}

.pinSection{
    width:100%;
}
.pinContainer{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:2rem;
    width:100%;
}

.pinContent{
    width:100%;
    padding-inline:1rem;
}
.pinContent h1{
    height:80vh;
    display:flex;
    align-items:center;
}

.pinImg{
    height:80vh;
    overflow:clip;
    width:100%;
    position:relative;
}
.imgDiv{
    position: absolute;
    height:100%;
    inset:0;
    width:100%;
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center center;
}
.imgDiv1{
    background:url(arch34.jpg);
    z-index:10;
    
}
.imgDiv2{
    background:url(arch16.jpg);
    z-index:11;
}
.imgDiv3{
    background:url(arch23.jpg);
    z-index:12;
}

.imgDiv4{
    background:url(arch20.jpg);
    z-index:13;
}
